<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Page"/>

<f:section name="Configuration">
	<flux:form id="app" />
</f:section>

<f:section name="Main">
	<div class="grid-frame vertical">
		<div class="grid-content shrink" style="padding: 0;">
			<ul class="primary condense menu-bar">
				<li><a><strong>Foundation for Apps</strong></a></li>
			</ul>
		</div>
		<div ui-view class="grid-content">
		</div>
	</div>
</f:section>

</html>
